.navbar {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
  }

  * {
    margin: 0;
    padding: 0;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #00ffff;
  }
  